<!DOCTYPE html>
<html>
	
	<head>
		
		<title>Annual Mileage Projector</title>

		<link href='/styles/desktop.css' rel='stylesheet'>
		<link href='/styles/mobile.css' rel='stylesheet'>
		
		<meta content='Annual Mileage Projector' name='title'>
		<meta content='width=device-width' name='viewport'>

		<script charset='utf-8' src='/scripts/numeral.min.js' type='text/javascript'></script>
		<script charset='utf-8' src="/scripts/react.js" type='text/javascript'></script>
		
		<script charset='utf-8' src='/scripts/helpers.js' type='text/javascript'></script>
		
		<script src="/build/mileageData.js"></script>
		<script src="/build/mileageContent.js"></script>
		<script src="/build/unitSwitcher.js"></script>
		<script src="/build/mileageProjector.js"></script>
		
		<script type='text/javascript'>
		
			{{#if rideDataForTemplate}}
				// Make this data available to our client side
				var rideData = {{{rideDataForTemplate}}};
			{{/if}}
			
		</script>
		
	</head>
	
	<body>
		
		{{{body}}}

	</body>
	
</html>