{{>header}}

<div class="stravaConnect">
	
	<p>Looks at what you've ridden this year to project annual totals.</p>
	
	<a href="https://www.strava.com/oauth/authorize?
	client_id=1417
	&response_type=code
	&redirect_uri=http://{{host}}/token_exchange
	&scope=view_private">
	<img width="157" src="http://strava.github.io/api/images/LogInWithStrava@2x.png" /></a>
	
</div>

{{>footer}}