{{>header}}

<div id="content"></div>

<script type='text/javascript'>
		
	// Boot up React
	React.render(
		React.createElement(MileageContent, {
			rideData: rideData
		}),
		document.getElementById('content')
	);
	
</script>

<div class="logout">
	<a href="/logout">&larr; Logout</a>
</div>

{{>footer}}